form.newComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 230px;
  background-color: #215c58;
  color: #bef264;
  border-radius: 5px;
  padding: 10px;
}

form.newComment div {
  width: 100%;
}

form.newComment div input,
form.newComment div textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  background: transparent !important;
  color: #bef264;
  border-bottom: 2px solid #bef264;
  outline: none;
}

form.newComment div input:focus,
form.newComment div textarea:focus {
  border-width: 4px;
}

form.newComment div textarea {
  margin-top: 20px;
  resize: none;
}

form.newComment div input::placeholder,
form.newComment div textarea::placeholder {
  color: #bef264;
}

form.newComment button {
  width: 100%;
  border: none;
  background-color: #bef264;
  color: #134e4a;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
